@import '../../App.scss';
.hero {
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
    .aboutContainer {
        @include mobile {

            .name {
                    font-size: 40px;
                }
            .headshot {
                max-width: 200px;
                max-height: 200px;
            }

            .aboutMe {
                font-size: 16px;
            }

            .aboutBox {
                flex-direction: column;
            }

        }
    }
    
        .particleContainer {
            background: linear-gradient(#2E3B55, #ffffff);
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: -1;
        }
}