.portfolio {
    position: relative;


    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;

        .progressBar {
            height: 10px;
            background-color: darkgray;
            border-radius: 5px;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 50px;
        overflow: hidden;

        .wrapper {
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;


            .imageContainer {
                flex: 1;
                height: 50%;
                padding-right: 50px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .textContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }
        }
    }
}