@import "../../App.scss";
.skills {
    max-width: 1020px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100vh;
    margin: 50px auto;

    .skill {
        text-align: center;

        img {
            background-color: #2E3B55;
            border-radius: 50%;
            padding: 10px;
            width: 100px;
            height: 100px;
            display: block;
            margin: 0 auto;

            @include mobile {
                    width: 50px;
                    height: 50px;
                }
        }
    }
}