body {
  font-family: 'Roboto', sans-serif;
}

/* Add transition for buttons */
.MuiButton-root {
  transition: 0.3s;
}

/* Hover effect for contained buttons */
.MuiButton-contained:hover {
  transform: scale(1.05);
}

/* Hover effect for outlined buttons */
.MuiButton-outlined:hover {
  background-color: rgba(209, 217, 225, 0.1);
  /* This is a very light shade of gray */
}

/* Footer styling */
footer {
  font-weight: 500;
}

/* Additional space for card actions */
.MuiCardActions-root {
  margin-top: auto;
}

.section {
  height: 100vh;
  scroll-snap-align: center;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}