body {
  font-family: 'Roboto', sans-serif;
}

/* Add transition for buttons */
.MuiButton-root {
  transition: 0.3s;
}

/* Hover effect for contained buttons */
.MuiButton-contained:hover {
  transform: scale(1.05);
}

/* Hover effect for outlined buttons */
.MuiButton-outlined:hover {
  background-color: rgba(209, 217, 225, 0.1); /* This is a very light shade of gray */
}

/* Footer styling */
footer {
  font-weight: 500;
}

/* Additional space for card actions */
.MuiCardActions-root {
  margin-top: auto;
}
